@import "../../style/iconfont.wxss";
.search_input {
    height: 70rpx;
    padding: 10rpx;
    background-color: var(--themeColor);
    navigator {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 15rpx;
        color: #666;

        view.icon-sousuo {
            font-size: 35rpx;
            margin-right: 5rpx;
        }   
    }
}